.container {
    display: flex;
    flex-direction: row-reverse;
    margin: 10px 10px;
}

.message {
    padding: 10px 15px;
    border-radius: 10px;
    background-color: lightgreen;
    width: fit-content;
    max-width: 300px;
}

.sender {
    font-size: 0.8rem;
    color: gray;
}

.messageText {
    font-size: 1rem;
    white-space: break-spaces;
    overflow-wrap: break-word;
    overflow: auto;
}

.timeStamp {
    font-size: 0.6rem;
}
