.header,
.search {
    display: flex;
    justify-content: space-between;
}

.search > input {
    width: 100%;
    margin-left: 10px;
    padding-inline: 10px;
    outline-width: 0;
    border: none;
}

.conversations {
    flex-grow: 1;
}
