.smallBox,
.largeBox {
  overflow: auto;
  padding: 15px 10px;
  border-radius: 10px;
  background-color: white;
}
& .smallBox {
  min-height: fit-content;
}
& .largeBox {
  flex-grow: 1;
}

.flexrow,
.flexcolumn {
  display: flex;
}
.flexcolumn {
  flex-direction: column;
}
